<section class="container">
    <h2 class="text-center text-main mb-5">Forget Password</h2>
  
    @if (step === 1) {
      <form [formGroup]="verifyEmail" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="verifyEmailSubmit()">
        <div class="my-4">
          <label class="mb-3" for="email">Email</label>
          <input
            type="email"
            formControlName="email"
            id="email"
            class="form-control"
            [ngClass]="{
              'is-valid': verifyEmail.get('email')?.valid && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty),
              'is-invalid': verifyEmail.get('email')?.invalid && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty)
            }"
          />
          @if (verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty)) {
            <div class="alert alert-danger w-100 mt-2">
              @if (verifyEmail.get('email')?.errors?.['required']) {
                <p class="m-0">Email is required</p>
              }
              @else if (verifyEmail.get('email')?.errors?.['email']) {
                <p class="m-0">Invalid email format</p>
              }
            </div>
          }
        </div>
        <button class="btn-main" [disabled]="verifyEmail.invalid">Verify Email</button>
      </form>
    }
  
    @else if (step === 2) {
      <form [formGroup]="verifyCode" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="verifyCodeSubmit()">
        <div class="my-4">
          <label class="mb-3" for="resetCode">Reset Code</label>
          <input
            type="text"
            formControlName="resetCode"
            id="resetCode"
            class="form-control"
            [ngClass]="{
              'is-valid': verifyCode.get('resetCode')?.valid && (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty),
              'is-invalid': verifyCode.get('resetCode')?.invalid && (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty)
            }"
          />
          @if (verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty)) {
            <div class="alert alert-danger w-100 mt-2">
              @if (verifyCode.get('resetCode')?.errors?.['required']) {
                <p class="m-0">Code is required</p>
              }
              @else if (verifyCode.get('resetCode')?.errors?.['pattern']) {
                <p class="m-0">Code must be 6 digits</p>
              }
            </div>
          }
        </div>
        <button class="btn-main" [disabled]="verifyCode.invalid">Verify Code</button>
      </form>
    }
  
    @else if (step === 3) {
      <form [formGroup]="ResetPassword" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="resetPasswordSubmit()">
        <div class="my-4">
          <label class="mb-3" for="email">Email</label>
          <input readonly type="email" formControlName="email" id="email" class="form-control" />
  
          <label class="mb-3 mt-3" for="newPassword">New Password</label>
          <input
            type="password"
            formControlName="newPassword"
            id="newPassword"
            class="form-control"
            [ngClass]="{
              'is-valid': ResetPassword.get('newPassword')?.valid && (ResetPassword.get('newPassword')?.touched || ResetPassword.get('newPassword')?.dirty),
              'is-invalid': ResetPassword.get('newPassword')?.invalid && (ResetPassword.get('newPassword')?.touched || ResetPassword.get('newPassword')?.dirty)
            }"
          />
          @if (ResetPassword.get('newPassword')?.errors && (ResetPassword.get('newPassword')?.touched || ResetPassword.get('newPassword')?.dirty)) {
            <div class="alert alert-danger w-100 mt-2">
              @if (ResetPassword.get('newPassword')?.errors?.['required']) {
                <p class="m-0">Password is required</p>
              }
              @else if (ResetPassword.get('newPassword')?.errors?.['pattern']) {
                <p class="m-0">Password must be at least 6 characters</p>
              }
            </div>
          }
        </div>
        <button class="btn-main" [disabled]="ResetPassword.invalid">Reset Password</button>
      </form>
    }
  </section>
  