<section class="py-3">
   <div class="row g-0">
     <div class="col-md-10">
       <div>
         <img src="assets/images/num1.jpg" height="300px" class="w-100" alt=""/>
       </div>
     </div>
     <div class="col-md-2">
       <div>
         <img src="assets/images/slider-image-2.jpeg" height="150px" class="w-100" alt=""/>
         <img src="assets/images/slider-image-3.jpeg" height="150px" class="w-100" alt=""/>
       </div>
     </div>
   </div>
 </section>
 
 <section class="my-2">
   <h4 class="py-2 fw-bold">popular categories:</h4>
   <owl-carousel-o [options]="customOptionsCate">
     @for (cat of categoriesList; track cat._id) {
       <ng-template carouselSlide>
         <div>
           <img [src]="cat.image" alt="sliderImg" height="250px" class="w-100  px-1"/>
           <h5 class="text-main ps-2 fw-bolder">{{ cat.name }}</h5>
         </div>
       </ng-template>
     }
   </owl-carousel-o>
 </section>
 
 <section class="mb-3">
   <h4 class="mt-4 fw-bold">Search products:</h4>
 
   <!-- ✅ مربع البحث الجديد هنا -->
   <div class="mb-4">
     <input 
       type="text" 
       class="form-control" 
       placeholder="Search..."
       [(ngModel)]="searchTerm"
       (input)="filter()"
     />
   </div>
 
   <div class="row g-3 my-2">
   @if (filterProducts.length > 0) {
      @for (product of filterProducts.slice(0,12); track product.id) {
         <div class="col-12 col-sm-6 col-md-4 col-lg-3">
           <div class="product p-2">
             <div [routerLink]="['/details', product.id]">
               <img [src]="product.imageCover" class="w-100" [alt]="product.title" />
               <h2 class="small text-main fw-bolder mt-2">{{ product.category.name | uppercase }}</h2>
               <h6>{{ product.title.split(" ", 2).join(" ") }}</h6>
               <div class="d-flex justify-content-between align-items-center">
                 <span>{{ product.price }}EGP</span>
               
                 <div>
                   @for (num of [1,2,3,4,5].slice(0,product.ratingsAverage); track $index) {
                     <span><i class="fas fa-star rating-color"></i></span>
                   }
                   @if(product.ratingsAverage %1 !==0){
                     <i class="fa-solid fa-star-half-stroke rating-color"></i>
                   }
                   <span class="text-muted">{{ product.ratingsAverage }}</span>
                 </div>
               </div>
             </div>
             <button class="btn-main w-100" (click)="addCart(product.id)">Add to cart</button>
           </div>
         </div>
       }
   }
     @else {
      <div class="text-center py-5 w-100">
        <i class="fa-solid fa-magnifying-glass fa-2xl text-muted mb-3"></i>
        <h4 class=" fw-bold">No matching products found.</h4>
      </div>
    }
   </div>
 </section>
 